<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/create_user" method="POST">
        <label>Content</label>
        <input name="content" type="text">
        <br>
        <label>Poster</label>
        select
        <input name="age" type="text">
        <br>
        <button type ="submit">Add User!</button>

    </form>
</body>
</html>